header>h2{
    text-align: center;
}

header>h3 {
    color: rgb(0, 0, 0);
    text-align: center;
}
body{
    background-color: rgba(233, 236, 240, 0.739);
    font-family: sans-serif;
}
nav>ul>li{
    display: inline;
    font-style: normal;
    font-weight: bold;  
    font-size: 1.5ch;
}

a:link {
    text-decoration: none;
}