header{
    background-color: aqua;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.section-header{
    display: flex;
    height: 60px;
    width: 300px;
    display: inline;
    justify-content: center;
}

#tittle{
    background-color: red;
    display: flex;
    align-items: center;
}

#subtittle{
    background-color: green;
    display: flex;
    align-items: center;
}



